/* screen - credentials */


.credentials {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.credentials .overlap-group {
  align-items: center;
  background: linear-gradient(180deg, rgb(43.04, 155.4, 202.62) 24.5%, rgb(186, 0, 232.5) 100%);
  display: flex;
  flex-direction: column;
  gap: 2cqh;
  min-height: 100vh;
  min-width: 450px;
  padding: 38vh 0;
  width: 30vw;
}

.credentials .title {
  color: var(--white);
  font-weight: 700;
  line-height: 57.6px;
  white-space: nowrap;
}

.credentials .content-area {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 5vh 4vw 5vh 4vw;
  width: 100%;
  height: 100vh;
}

.credentials .logo {
  align-self: flex-end;
  height: 32px;
  object-fit: cover;
  width: 200px;
}

.credentials .creds {
  color: var(--curious-blue);
  font-weight: 600;
  line-height: 28.8px;
  margin-top: 12cqh;
  min-height: 29px;
  white-space: nowrap;
}

.credentials .flex-container-336716 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 107px;
  margin-top: 22px;
  position: relative;
  width: 100%;
}

.credentials .text {
  align-self: stretch;
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 23.2px;
  position: relative;
}

.credentials .span1-1 {
  font-weight: 600;
}

.credentials .temporary-credentials-recommended {
  color: var(--curious-blue);
  font-weight: 600;
  line-height: 22.4px;
  margin-top: 55px;
  white-space: nowrap;
}

.credentials .you-can-get-temporar {
  color: transparent;
  font-weight: 400;
  line-height: 22.4px;
  margin-top: 22px;
  white-space: nowrap;
}

.credentials .span1 {
  color: var(--curious-blue);
  text-decoration: underline;
}

.credentials .button {
  align-items: center;
  background-color: var(--curious-blue);
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  margin-top: 36px;
  padding: 0px 24px;
  position: relative;
}

.credentials .children {
  color: var(--white);
  font-weight: 600;
  line-height: 22.4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.credentials .long-lived-credentials {
  color: var(--curious-blue);
  line-height: 22.4px;
  margin-top: 5px;
  white-space: nowrap;
}

.credentials .using-long-lived-cre {
  color: transparent;
  font-weight: 400;
  line-height: 22.4px;
  margin-top: 22px;
  width: 100%;
}